#managed by bmc_discovery ansible role
#BMC discovery service user
discadmin  ALL = (root) NOPASSWD: /usr/sbin/dmidecode, /bin/cat /sys/class/dmi/id/product_serial, /bin/cat /sys/class/dmi/id/product_name, /bin/cat /sys/class/dmi/id/product_name, /bin/cat /sys/class/dmi/id/sys_vendor, /usr/sbin/lsof -l -n -P -F ptPTn –i
